package ${package.Mapper};

import java.util.List;
import java.util.Map;
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;
import ${package.Entity}.${entity};
/**
  * ${entity}Mapper 接口
 * @author ${author}
 * @since ${date}
 */
@Repository
@Mapper
public interface ${table.mapperName} {

        /**
        * 返回${entity}表的所有数据
        *  @param query
        *  @return
        */
        List<Map> findAll${entity}(Map query);

        /**
        * 查询数据总数，方便分页
        * @param query
        * @return
        */
        int getTotalRow(Map query);

        /**
         * 添加${entity}表数据
         * @param ${table.entityPath}
         * @return
         */
        int add${entity}(${entity} ${table.entityPath});

       /**
        * 删除${entity}表指定的数据
        * @param primaryKeyId
        * @return
        */
        int del${entity}ById(Integer primaryKeyId);

        /**
         * 根据${entity}表的主键id修改表的信息
         * @param ${table.entityPath}
         * @return
         */
        int update${entity}ById(${entity} ${table.entityPath});
}