package ${package.Service};


import java.util.List;
import java.util.Map;
import ${package.Entity}.${entity};

/**
 * ${entity} 业务接口
 * @author ${author}
 * @since ${date}
 */

public interface ${table.serviceName} {

    /**
     *  返回${entity}表的所有数据
     *  @param query
     *  @return
     */
    Map<String,Object> findAll${entity}(Map query);

    /**
    * 添加${entity}表数据
     * @param ${table.entityPath}
     * @return
    */
    Map<String,Object> add${entity}(${entity} ${table.entityPath});

    /**
     * 删除${entity}表指定的数据
     * @param primaryKeyId
     * @return
     */
    Map<String,Object>del${entity}ById(Integer primaryKeyId);

    /**
     * 根据${entity}表的主键id修改表的信息
     * @param ${table.entityPath}
     * @return
     */
    Map<String,Object> update${entity}ById(${entity} ${table.entityPath});
}